AI_LDAP_admin/AI_LDAP_admin/__pycache__/*
AI_LDAP_admin/api/migrations/__pycache__/*
AI_LDAP_admin/api/__pycache__/*
AI_LDAP_admin/frontend/migrations/__init__.py

# pkg and bin directories currently contain build artifacts
# only so we exclude them.
bin/
vendor/

.vscode/

# Compiled python files.
*.pyc

# Emacs temporary files
*~

# Other temporary files
.DS_Store

# temporary files from emacs flymd-mode
flymd.*

# vim .swp files
*~
*.swp
*.swo

# Files created by Gogland IDE
.idea/

