.AddContent {
    display: block;
    width: 95%;
    height: 60vh;
}
.AddType {
    width: 100%;
    padding: 20px;
    height: 20vh;
    display: flex;
    align-items: center;
    background-color: bisque;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.AddType span {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5em;
    font-family: Comic Sans MS;
}
.LinkStyle {
    text-decoration: none;
    color: black;
}