.infolist {
    box-sizing: border-box;
    margin-left: 1em;
    width: 20%;
    display: block;
}

.ul-li {
    width: 100%;
    padding: 10px 10px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.ul-li:hover {
    transform: translate(5px, 5px);
}

.ul-li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-family: Comic Sans MS;
}
