.infolist {
    box-sizing: border-box;
    margin-left: 1em;
    width: 20vw;
    display: block;
}
.tree {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.ul-li {
    width: 100%;
    padding: 10px 10px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.ul-li:hover {
    transform: translate(5px, 5px);
}

.ul-li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-family: Comic Sans MS;
}

@media (max-width: 540px) {
    .infolist {
        box-sizing: border-box;
        margin: 2vw;
        width: 90vw;
        display: block;
    }
}