.Login {
    width: 100%;
    height: 100%;
}
.LoginDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LoginForm {
    max-width: 330px;
    background-color: beige;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px
}
.LoginForm-input {
    padding: 10px;
    width: 80%;
    border-radius: 10px;
}
.LoginForm-button {
    padding: 10px;
    width: 80%;
    border-radius: 10px;
}