.navigation {
    background-color: #333;
    color: white;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-family: 'Lato';
    font-size: 28px;
}

.navigation a:hover {
    color: black;
    transition: 0.5s;
}
.navigation-ul {
    list-style-type: none;
    height: 8vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-ul-li {
    width: 20%;
    padding: 1em;
    display: inline-block;
}

.navigation-ul-li:hover {
    color: black;
    transition: all 0.5s;
}

.navigation-ul-div {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: left;
}
.navigation-ul img {
    float: left;
    width: 35%;
    height: 60%;
    padding: 0.5em;
}
.navigation-ul li button {
    border: none;
    background-color: #333;
}

@media(max-width: 540px) {
    .navigation-ul-li {
        width: 100%;
        padding: 0;
        margin: 5px;
        display: inline-block;
    }
    .navigation-ul img{
        width: 60%;
        height: 100%;
        padding: 10px;
    }
}
