.userPage {
    transition: all 0.5s ease-in-out;
    margin: 10px;
    padding: 10px;
}
.form-css {
    transition: all 0.5s ease-in-out;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}
.buttom-button {
    margin: 10px;
    border-radius: 10%;
}
.row {
    flex-wrap: nowrap;
}
label {
    margin-left: 10px;
}
input, select {
    width: 80%;
}