.App {
  text-align: center;
}
.Centre-Page-user {
  display: inline-flex;
  justify-content: center;
  height: 80vh;
  margin-top: 32px;
  transition: opacity 0.5s ease-in-out;
}
.Centre-Page {
  display: inline-flex;
  justify-content: center;
  height: 100%;
  margin-top: 28px;
  transition: opacity 0.5s ease-in-out;
}
.Centre-Page-Content {
  box-sizing: border-box;
  margin: 0;
  width: 76vw;
  padding: 5px;
  margin-left: 2vw;
  margin-right: 2vw;
}
.Centre-Page-Content-user {
  box-sizing: border-box;
  margin: 0;
  width: 96vw;
  padding: 5px;
  margin-left: 2vw;
  margin-right: 2vw;
}
.fade {
  background-color: #3498db;
  color: white;
}
.fade-out {
  opacity: 0;
}

.fade-link {
  margin-top: 20px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.fade-link:hover {
  color: #f39c12;
}
@media (max-width: 540px) {
  .App {
    text-align: center;
    display: inline;
  }
  .Navbar {
    display: inline;
    width: 100%;
  }
  .Centre-Page {
    display: inline;
    width: 100%;
  }
}
