.App {
  text-align: center;
}
.Centre-Page {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 1em;
}
.Centre-Page-Content {
  box-sizing: border-box;
  margin: 0;
  width: 80%;
  padding: 5px;
}


/* Page Transitions */
.fade-enter{
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active{
  opacity: 1;
  transform: translateX(0);
  transition: all 1000ms;
}

.fade-exit{
  opacity: 1;
}
.fade-exit-active{
  opacity: 0;

}
