.App {
  text-align: center;
  
}
.Centre-Page-user {
  display: inline-flex;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  margin-top: 20px;
  transition: opacity 0.5s ease-in-out;
}
.Centre-Page {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 1em;
  transition: opacity 0.5s ease-in-out;
}
.Centre-Page-Content {
  box-sizing: border-box;
  margin: 0;
  width: 80%;
  padding: 5px;
}
.Centre-Page-Content-user {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  padding: 5px;
}
.fade {
  background-color: #3498db;
  color: white;
}
.fade-out {
  opacity: 0;
}

.fade-link {
  margin-top: 20px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.fade-link:hover {
  color: #f39c12;
}
