* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.navigation {
    background-color: #333;
    color: white;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-family: Comic Sans MS;
}

.navigation a:hover {
    color: black;
    transition: 0.5s;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation ul li {
    width: 25%;
    padding: 1em;
    display: inline-block;
}

.navigation ul li:hover {
    background-color: #ccc;
    color: black;
}
.navigation ul div {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: left;
}
.navigation ul li img {
    width: 100%;
    height: 100%;
}
.navigation ul li button {
    border: none;
    background-color: #333;
}
.navigation ul li button:hover {
    background-color: #ccc;
    color: black;
    transition: 0.5s;
}
.navigation ul li button img {
    width: 50%;
    height: 50%;
}
